.result-container{
    background-color: chartreuse;
    border: 5px solid black;
    filter: var(--filter2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position:relative;
    font-size:18px;
    letter-spacing: 1px;
    height: 60px;
    width: 100%;

}

textarea{
    background:none;
    border: none;
    color: var(--color);
    font-size: 20px;
    margin-top: auto;
    outline: none;
    resize: none;

}

.result-container .btn{
    font-size: 20px;
    position:absolute;
    top:5px;
    right:5px;
    height:40px;
    width:40px;

}

.buttons{
    display:flex;

}

.btn{
    width:50%;
    border: none;
    color: orange;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 12px;
    margin:14px 5px 7px 5px;
    background-color: grey;
    filter: rgb(136, 64, 64);
    

}