.maindiv{
    margin:auto;
    margin-top: 10%;
 width: 35%;
background-color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
border: 1px solid rgb(190, 188, 188);
border-radius: 5px;
box-shadow: 0.5px 1px 0.5px 1px #c5c4c4;

}



.result-container{
    width: 80%;
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(148, 146, 146);
    border-radius: 5px;
    filter: var(--filter2);
    font-size:1.5rem;
    letter-spacing: 1px;
    margin-top: 45px;
    margin-left: 10%;
    margin-right: 10%;
    height: 3.3rem;

}

.settings{
    margin: 10%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.setting{
    padding-top: 2%;
}




textarea{
    width: 80%;
    background:none;
    border: none;
    color: var(--color);
    font-size: 1.5rem;
    margin-top: auto;
    outline: none;
    resize: none;
    padding-top: 13px;
    text-align: center;
   

}

.checkbox{
    

}

.buttons1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

}


.btn{
    width: 35%;
    border: 1px solid rgb(170, 170, 170);
    color: orange;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    filter: rgb(136, 64, 64);
    border-radius: 18px;
    box-shadow: 1px 1px 1px 1px #c5c4c4;
    overflow:hidden

}